[submodule "canvas-mask"]
	path = canvas-mask
	url = https://github.com/benbarnett/canvas-mask.git
[submodule "svg-tube-map"]
	path = svg-tube-map
	url = https://github.com/benbarnett/svg-tube-map.git
